<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__links">
          <a routerLink="/"><i class="fa fa-home"></i> Trang chủ</a>
          <span>Thanh toán</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h6 class="coupon__link">
          <span class="icon_tag_alt m-r-20"></span>
          <a>Bạn có <b> mã giảm giá?</b></a> Nhấn <b>vào đây</b> để nhập mã.
        </h6>
      </div>
    </div>
    <form
      [formGroup]="submitForm"
      (ngSubmit)="onFormSubmit()"
      class="checkout__form"
    >
      <div class="row">
        <div class="col-lg-6">
          <h5>Thông tin người nhận</h5>
          <div class="row">
            <div class="col-lg-12">
              <div>
                <p>Người nhận</p>
                <ng-select
                  [items]="recipientsList"
                  bindLabel="hoten"
                  bindValue="id"
                  placeholder="Chọn người nhận"
                  formControlName="nguoinhan"
                >
                </ng-select>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="checkout__form__input">
                <p>Tên đầy đủ <span>*</span></p>
                <input type="text" formControlName="hoten" />
              </div>
            </div>
            <div class="col-lg-12">
              <div class="checkout__form__input">
                <p>Địa chỉ <span>*</span></p>
                <input
                  type="text"
                  placeholder="Địa chỉ đầy đủ"
                  formControlName="diachi"
                />
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="checkout__form__input">
                <p>Số điện thoại <span>*</span></p>
                <input type="text" formControlName="SDT" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="checkout__order">
            <h5>Thanh toán</h5>
            <div class="checkout__order__product">
              <ul>
                <li>
                  <span class="top__text">Sản phẩm</span>
                  <span class="top__text__right">Tổng</span>
                </li>
                <li *ngFor="let p of giohang; let i = index">
                  {{ i + 1 }}. {{ p.ten }}
                  <span>{{ p.giabanhienhanh }} VND</span>
                </li>
              </ul>
            </div>
            <div class="checkout__order__total">
              <ul>
                <li>
                  Tổng cộng <span>{{ total }} VND</span>
                </li>
                <!-- <li>Total <span>$ 750.0</span></li> -->
              </ul>
            </div>
            <div class="checkout__order__widget">
              <label for="o-acc">
                Thêm người nhận?
                <input
                  type="checkbox"
                  formControlName="isCreateRecipient"
                  id="o-acc"
                />
                <span class="checkmark"></span>
              </label>
              <!-- <p>
                Create am acount by entering the information below. If you are a
                returing customer login at the top of the page.
              </p>
              <label for="check-payment">
                Cheque payment
                <input type="checkbox" id="check-payment" />
                <span class="checkmark"></span>
              </label>
              <label for="paypal">
                PayPal
                <input type="checkbox" id="paypal" />
                <span class="checkmark"></span>
              </label> -->
            </div>
            <button type="button" (click)="onSubmit()" class="site-btn">
              Đặt hàng
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
<!-- Checkout Section End -->
