<!-- Page Preloder -->
<div id="preloder">
  <div class="loader"></div>
</div>

<ng-container *ngIf="isLoggedIn">
  <!-- Offcanvas Menu Begin -->
  <div class="offcanvas-menu-overlay"></div>
  <div class="offcanvas-menu-wrapper">
    <div class="offcanvas__close">+</div>
    <ul class="offcanvas__widget">
      <li><span class="icon_search search-switch"></span></li>
      <li>
        <a href="#"
          ><span class="icon_heart_alt"></span>
          <div class="tip">2</div>
        </a>
      </li>
      <li>
        <a href="#"
          ><span class="icon_bag_alt"></span>
          <div class="tip">2</div>
        </a>
      </li>
    </ul>
    <div class="offcanvas__logo">
      <a href="./index.html"><img src="assets/img/logo.png" alt="" /></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__auth">
      <a (click)="logout()">Login</a>
      <a (click)="logout()">Logout</a>
    </div>
  </div>
  <!-- Offcanvas Menu End -->
  <!-- Header Section Begin -->
  <header class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-3 col-lg-2">
          <div class="header__logo">
            <a href="./index.html"><img src="assets/img/logo.png" style="max-width: 38%" alt="" /></a>
          </div>
        </div>
        <div class="col-xl-6 col-lg-7">
          <nav class="header__menu">
            <ul>
              <li
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <a routerLink="">Trang chủ</a>
              </li>
              <li
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <a routerLink="/general/cart">Giỏ hàng</a>
              </li>
              <li
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <a routerLink="/general/checkout">Thanh toán</a>
              </li>
              <!-- <li
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <a routerLink="/general">Contact</a>
              </li> -->
              <!-- <li>
                <a href="javascript:void(0);">Sản phẩm</a>
                <ul class="dropdown">
                  <li><a routerLink="/category/women">{{ categoryList[0].ten }}</a></li>
                  <li><a routerLink="/category/men">{{ categoryList[1].ten }}</a></li>
                  <li><a routerLink="/category/kid">{{ categoryList[2].ten }}</a></li>
                  <li><a routerLink="/category/cosmetic">{{ categoryList[3].ten }}</a></li>
                  <li><a routerLink="/category/accessories">{{ categoryList[4].ten }}</a></li>
                </ul>
              </li> -->
            </ul>
          </nav>
        </div>
        <div class="col-lg-3">
          <div class="header__right">
            <div class="header__right__auth">
              <a (click)="logout()" *ngIf="!isLoggedIn">Đăng nhập</a>
              <a (click)="logout()">Đăng xuất</a>
            </div>
            <ul class="header__right__widget">
              <!-- <li><span class="icon_search search-switch"></span></li> -->
              <!-- <li>
                <a href="#"
                  ><span class="icon_heart_alt"></span>
                  <div class="tip">2</div>
                </a>
              </li> -->
              <li>
                <a routerLink="/general/cart"
                  ><span class="icon_cart"></span>
                  <div class="tip">2</div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="canvas__open">
        <i class="fa fa-bars"></i>
      </div>
    </div>
  </header>
  <!-- Header Section End -->
</ng-container>
