.main-banner-image{
    height:40em; 
    background-size:cover;
    width:auto;
    background-image: url("/assets/img/categories/category-1.jpg");
    background-position:50% 50%;
  }
  .sub-banner-image{
    background-position:50% 50%;
  }