<ng-container *ngIf="product">
  <!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__links">
          <a routerLink="/"><i class="fa fa-home"></i> Trang chủ</a>
          <a (click)="goBack()">{{ category }}</a>
          <span>{{ product.ten }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Product Details Section Begin -->
<section class="product-details spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img class="img-product" [src]="product.hinhanh">
          
         
      </div>
      <div class="col-lg-6">
        <div class="product__details__text">
          <h3>
            {{ product.ten}}
            <span>Thương hiệu: {{ product.nhasanxuat }}</span>
          </h3>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <span>( 138 reviews )</span>
          </div>
          <div class="product__details__price">{{ product.giabanhienhanh }} VND</div>
          <p>{{ product.mota }}
          </p>
          <div class="product__details__button">
            <div class="quantity">
              <span>Số lượng:</span>
              <div class="pro-qty">
                <input type="text" value="1" />
              </div>
            </div>
            <a (click)="addProductToCart()" class="cart-btn"
              ><span class="icon_bag_alt"></span> Thêm vào giỏ hàng</a
            >
            <ul>
              <li>
                <a href="#"><span class="icon_heart_alt"></span></a>
              </li>
              <li>
                <a href="#"><span class="icon_adjust-horiz"></span></a>
              </li>
            </ul>
          </div>
          <div class="product__details__widget">
            <ul>
              <li>
                <span>Tình trạng:</span>
                <div class="stock__checkbox">
                  <label for="stockin">
                    Còn hàng
                    <input type="checkbox" [value]="instock" disabled id="stockin" />
                    <span class="checkmark"></span>
                  </label>
                </div>
              </li>
              <li>
                <span>Màu sắc:</span>
                <div class="color__checkbox">
                  <label for="red">
                    <input type="radio" name="color__radio" id="red" checked />
                    <span class="checkmark"></span>
                  </label>
                  <label for="black">
                    <input type="radio" name="color__radio" id="black" />
                    <span class="checkmark black-bg"></span>
                  </label>
                  <label for="grey">
                    <input type="radio" name="color__radio" id="grey" />
                    <span class="checkmark grey-bg"></span>
                  </label>
                </div>
              </li>
              <li>
                <span>Kích cỡ:</span>
                <div class="size__btn">
                  <label for="xs-btn" class="active">
                    <input type="radio" id="xs-btn" />
                    xs
                  </label>
                  <label for="s-btn">
                    <input type="radio" id="s-btn" />
                    s
                  </label>
                  <label for="m-btn">
                    <input type="radio" id="m-btn" />
                    m
                  </label>
                  <label for="l-btn">
                    <input type="radio" id="l-btn" />
                    l
                  </label>
                </div>
              </li>
              <li>
                <span>Khuyến mãi:</span>
                <p>Miễn phí vận chuyển</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="product__details__tab">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                data-toggle="tab"
                href="#tabs-1"
                role="tab"
                >Mô tả</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                >Đặc tả</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                >Đánh giá ( 2 )</a
              >
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tabs-1" role="tabpanel">
              <h6>Mô tả</h6>
              <p>
                {{ product.mota }}
              </p>
            </div>
            <div class="tab-pane" id="tabs-2" role="tabpanel">
              <h6>Đặc tả</h6>
              <p>
                {{ product.mota }}
              </p>
            </div>
            <div class="tab-pane" id="tabs-3" role="tabpanel">
              <h6>Đánh giá ( 2 )</h6>
              <p>
               Hàng cũng chất lượng đấy !!!!! Hàng cũng chất lượng đấy !!!!!Hàng cũng chất lượng đấy !!!!!Hàng cũng chất lượng đấy !!!!!Hàng cũng chất lượng đấy !!!!!
              </p>
              <p>
              Tuyệt vời, tôi không còn gì để bàn cãi về những lợi ích mà nó mang lại. Sự hào nhoáng toát lên kinh khủng, đặc biệt lại giá cả phải chăng nữa, mọi người nên mua ủng hộ shop nhaaaaaaa
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product Details Section End -->

</ng-container>